@charset "utf-8";
/* ===================================================================
 共通部分
=================================================================== */
@font-face{
  font-family: futura;
  src: url("../fonts/Futura.ttf") format("truetype");
}
body{
  overflow: hidden;
  position: relative;
  background: url(../images/bg.png);
}

/* ===================================================================
 box-wrap部分
=================================================================== */
.box-wrap-sp{
  display: none;
}
.box-wrap{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -800px -3000px;
  width: 6000px;
  height: 1600px;
}
.box-row:nth-child(even){
  margin-left: -140px;
}
.btn{
  cursor: pointer;
}

/* ===================================================================
 サブメニュー部分
=================================================================== */
.nav-btn {
  position: fixed;
  width: 46.19px; 
  height: 80px;
  background-color: #000;
  opacity: .95;
  margin: 23.09px 0;
  top: -63px;
  right: 40px;
  z-index: 10001;
  transition: all .2s;
  cursor: pointer;
}
.nav-btn:before,
.nav-btn:after {
  content: "";
  position: absolute;
  width: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  transition: all .2s;
}
.nav-btn:before {
  left: 100%;
  border-left: 23.09px solid #000;
}
.nav-btn:after {
  right: 100%;
  width: 0;
  border-right: 23.09px solid #000;
}
/* 三本線ボタン */
.icons_btn{
  position: absolute;
  right: calc(50% - 11px);
  bottom: 12px;
  width: 18px;
  height: 18px;
}
.icons_btn,
.icons_btn span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.icons_btn span {
  position: absolute;
  left: 0;
  width: 18px;
  height: 2px;
  background-color: #fff;
  transition: .5s all;
}
.icons_btn span:nth-of-type(2) {
  top: 8px;
}
.icons_btn span:nth-of-type(1) {
  -webkit-animation: menu-bar01 .75s forwards;
  animation: menu-bar01 .75s forwards;
  top: 0;
}
@-webkit-keyframes menu-bar01 {
  0% {
    -webkit-transform: translateY(8px) rotate(45deg);
  }
  50% {
    -webkit-transform: translateY(8px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
  }
}
@keyframes menu-bar01 {
  0% {
    transform: translateY(8px) rotate(45deg);
  }
  50% {
    transform: translateY(8px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
.nav-btn span:nth-of-type(2) {
  transition: all .25s .25s;
  opacity: 1;
}
.nav-btn span:nth-of-type(3) {
  -webkit-animation: menu-bar02 .75s forwards;
  animation: menu-bar02 .75s forwards;
  bottom: 0;
}
@-webkit-keyframes menu-bar02 {
  0% {
    -webkit-transform: translateY(-8px) rotate(-45deg);
  }
  50% {
    -webkit-transform: translateY(-8px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
  }
}
@keyframes menu-bar02 {
  0% {
    transform: translateY(-8px) rotate(-45deg);
  }
  50% {
    transform: translateY(-8px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
.nav-btn.active span:nth-of-type(1) {
  -webkit-animation: active-menu-bar01 .75s forwards;
  animation: active-menu-bar01 .75s forwards;
}
@-webkit-keyframes active-menu-bar01 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(8px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(8px) rotate(45deg);
  }
}
@keyframes active-menu-bar01 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(8px) rotate(0);
  }
  100% {
    transform: translateY(8px) rotate(45deg);
  }
}
.nav-btn.active span:nth-of-type(2) {
  opacity: 0;
}
.nav-btn.active span:nth-of-type(3) {
  -webkit-animation: active-menu-bar03 .75s forwards;
  animation: active-menu-bar03 .75s forwards;
}
@-webkit-keyframes active-menu-bar03 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(-8px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(-8px) rotate(-45deg);
  }
}
@keyframes active-menu-bar03 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-8px) rotate(0);
  }
  100% {
    transform: translateY(-8px) rotate(-45deg);
  }
}
/* active着いてからの処理 */
.nav-btn.active {  background: #fff;}
.nav-btn.active:before{  border-left: 23.09px solid #fff;}
.nav-btn.active:after{  border-right: 23.09px solid #fff;}
.nav-btn.active span{ background: #000;}
/* nav-btnのhover処理 */
.nav-btn:hover{ opacity: .8;}
/* side-menu */
.side-menu{
  height: 100%;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: 10000;
  background: rgba(0,0,0,.9);
  display: inline-block;
  padding: 30px 30px 0 30px;
  transition: all .5s;
  overflow: scroll;
}
.side-menu::-webkit-scrollbar {
  display: none;
}
.side-menu.active{
  right: 0;
}
.side-menu-list dt{
  font-size: 85%;
  margin-top: 30px;
  margin-bottom: 5px;
  color: #fff;
  font-family: futura;
}
.side-menu-list dd{
  font-size: 78%;
  opacity: .8;
  margin-left: 5px;
  line-height: 2em;
}
.side-menu-list a{
  color: #fff;
  text-decoration: none;
}
.side-menu-list a:hover{
  text-decoration: underline
}
.disabled a{
  opacity: .5;
  pointer-events: none;
}


/* ===================================================================
 六角形、テクスチャ、カラー、文字のスタイル
=================================================================== */
/*　六角形スタイル　*/
.hexagon,
.texture,
.color {
  position: relative;
  width: 80.83px; 
  height: 140px;
  margin: -30px 100px;
  background: #e6e6e6;
  opacity: .8;
  background-size: auto 161.6581px;
  background-position: center;
  float: left;
}
.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 98.99px;
  height: 98.99px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleX(0.5774) rotate(-45deg);
  background: inherit;
  left: 20.50px;
}
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 80px;
  height: 140px;
  -webkit-transform: rotate(45deg) scaleX(1.7321) translateY(-71.4145px);
  -ms-transform: rotate(45deg) scaleX(1.7321) translateY(-71.4145px);
  transform: rotate(45deg) scaleX(1.7321) translateY(-71.4145px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}
.hexTop {
  left: -49.4975px;
  top: 21px;
}
.hexTop:after {
  background-position: left -2px center;
}
.hexBottom {
  bottom: 19.5025px;
  left: 31px;
}
.hexBottom:after {
  background-position: right center;
}
.hexagon:after {
  content: "";
  position: absolute;
  top: 0.0000px;
  left: 0;
  width: 80px;
  height: 140px;
  z-index: 2;
  background: inherit;
}
/* ロゴ部分 */
.logo{
  background: transparent;
  pointer-events: none;
}
.logo:before,
.logo:after{
  border: none;
}
.logo img{
  width: 140%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: -100%;
  right: -100%;
}
/* 指定の位置にbackgroundで画像配置 */
.box0910{
  background-image: url(../images/bag.jpg);
}
/* 六角形テクスチャスタイル */
.texture{
  background-image: url(../images/member_bg.png);
  background-size: 4px;
  margin: 0;
  position: relative;
  z-index: 10;
  mix-blend-mode: multiply;
  opacity: .2;
}
/* 六角形カラースタイル */
.color{
  background: #FD6A6A;
  margin: -140px 0 0 0;
  position: relative;
  top:0;
  z-index: 100;
  opacity: 0;
  mix-blend-mode: overlay;
}
/* 六角形文字スタイル */
.hexMember{
  transition: .2s all;
}
.hexMember:hover{
  transform: rotate(300deg);
}
.hexMember:hover > .color{
  opacity: .8;
}
.member-txt {
  position: absolute;
  z-index: 1000;
  color: #fff;
  white-space: nowrap;
  top: -100%;
  bottom: -100%;
  left: -100%;
  right: -100%;
  width: 110px;
  height: 64px;
  margin: auto;
  text-shadow: 0px 0px 10px rgba(0,0,0,.8);
  opacity: 0;
  transition: .3s all;
  font-family: futura;
}
.member-txt-genre{
  font-size: 70%;
  margin-bottom: 3px;
}
.member-txt-name{
  font-size: 120%;
  line-height: 1.3em;
}
.hexMember:hover > .member-txt{
  opacity: 1;
  transform: rotate(60deg);
}

/* ===================================================================
 フッター
=================================================================== */
.footer{
  position: fixed;
  bottom: 0;
  text-align: center;
  padding-bottom: 10px;
  width: 100%;
  font-size: 82%;
  color: #6c6c6c;
  z-index: 10000;
}


/* ===================================================================

 レスポンシブ

=================================================================== */
@media screen and (max-width:768px){
  body{
    overflow: inherit;
  }
  .side-menu{
    right: -100%;
    width: 100%;
    background: rgba(0,0,0,.85);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .box-wrap{
    height: auto;
    display: none;
  }
  .box-wrap-sp{
    display: block;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 90px;
  }
  .box-inner-sp{
    display: inline-block;
    width: 290px;
  }
  .hexagon, .texture, .color{
    margin: 0 40px -66px 40px;
    float: none;
  }
  .hexagon:nth-child(odd){  float: left;}
  .hexagon:nth-child(even){  float: right;}
  .hexagon:nth-child(2){
    background-image: url(../images/bag.jpg); 
  }
  .hexTop:after, .hexBottom:after{
    transform: rotate(45deg) scaleX(1.7321) translateY(-37.4145px);
  }
  .hexBottom:after{
    background-position: right 20px center;
  }
  .member-txt{
    opacity: 1;
  }
  .texture{
    margin: 0;
  }
  .color{
    margin: -140px 0 0 0;
  }
  .footer{
    position: static;
  }
}




/* ===================================================================
 privacypolicyページ
=================================================================== */
#privacypolicy{
  overflow: visible;
  font-size: 100%;
  text-align: justify;
}
.pp-container{
  width: 85%;
  margin: 40px auto;
}
.pp-ttl{
  font-size: 130%;
  margin-bottom: 10px;
  font-family: futura;
}
.pp-ttl-txt{
  margin-bottom: 30px;
  font-size: 91%;
}
.pp-section{
  background: rgba(255,255,255,.8);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 40px;
}
.pp-section-ttl{
  font-size: 100%;
  margin-bottom: 10px;
  font-weight: 600;
}
.pp-section p,
.pp-section li{
  font-size: 85%;
  color: #666;
}
.pp-section ul{
  border: 1px solid #ccc;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px 0 15px 0;
}
.pp-section li{
  font-size: 85%;
}
#privacypolicy .footer{
  position: static;
}

@media screen and (max-width:768px){
  .side-menu{
    padding: 0 30px 30px 30px;
  }
  .pp-container{
    width: 90%;
  }
}

/* ===================================================================
 loading画面
=================================================================== */
.loading{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100000;
  background: #fff;
  top: 0;
  left: 0;
  font-family: futura;
}
.loading-inner{
  width: 100px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  height: 80px;
}
.loading-txt{
  color: #666;
  text-align: center;
  letter-spacing: .15em;
  margin-bottom: 5px;
}
.loading-img {
  width: 50px;
  margin: 0 auto;
}
.loading-img img{
  width: 100%;
  height: auto;
}